*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #0fff;
}
#header{
    height: 100vh;
    width: 100%;
    /* background-image: url(images/priyanshi2.jpeg); */
    background-size: cover;
    background-position: center;
    
    
}
.container{
    margin: 10px 10%;
}
nav{
    display: flex;
     justify-content: space-between;
     align-items: center;
  
     flex-wrap: wrap;
}
nav h1{
    
    width: 150px;
    font-size: 32px;
    color: rgb(238, 17, 17);
}
nav ul li a{
    text-decoration: none;
    color: aqua;
    font-size: 22px;
    position: relative;
}
nav ul li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background: rgb(247, 7, 7);
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: 0.10s;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;


}
nav ul li a:hover::after{
    width: 100%;
}
.headertext{
    margin-top: 20%;
    font-size: 30px;
}
.headertext h1{
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 90px;
    
}
.button {
   background-color:darkblue;
   border-radius: 10px;
   color: white;
   font-size: 30px;
   padding: 20px;
   
}
.headertext a{
    text-decoration: none;
    
}
/* about */

#about{
    padding: 80px 0;
    height: 100vh;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_col1{
    
    flex-basis: 30%;
}
.about_col1 img{
width: 100%;
border-radius: 25px;
height: 70vh;
}
.about_col2{
    
    flex-basis: 65%;
}
.title{
    font-size: 65px;
    font-weight: 600;
    color: red;
}
.tab_titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab_links{
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    position: relative;
}
.tab_links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.10s;
    }
.tab_links.activelink::after{
    width: 100%;
}
.tab_contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab_contents{
    display: none;
}
.tab_contents.activetab{
    display: block;
}

/* services */
#services{
    padding:30px 0;
}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.serviceslist div{
    background: rgb(73, 73, 63);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}
.serviceslist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.serviceslist div:hover{
    background:darkred;
 transform: translateY(-10px);   
}
.btn{
    display: block;
    margin: 150px auto;
    width: fit-content;
    padding: 23px;
    border: 1px solid ;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #ff004f;
    

}
.btn:hover{
    background: darkblue;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    font-size: 30px;
    text-decoration: none;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition:transform 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn2{
    display:block;
    background: #ff004f;
    text-decoration: none;
   width: fit-content;
   border-radius: 6px;
   color: white;
   margin-top: 30px;
   padding: 20px 50px;
    
}
.contact-right form{
    width: 100%
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form  .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copywrite{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-top: 150px;
    background: #262626;
}

@media(max-width:1200px){
  html{
    font-size:55%;
  }
}

@media(max-width:991px){
  .header{
    padding:2rem 3%;
  }

  section{
      padding: 10rem 3% 2rem;
  }
  .services{
    padding-bottom:7rem;
  }
}

@media (max-width:768px){
   #menu-icon{
    display:block;
   }
   .navbar{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    padding:1rem 3%;
    background:#1f242d;
    border-top: 1rem solid rgba(0,0,0,.2);
    box-shadow:0.5rem 1rem rgba(0,0,0,.2);
    display:none;
   }
   .navbar.active{
    display:block;

  }
   .navbar a{
   display:block;
   font-size: 2rem;
   margin: 3rem 0;
   }
   .home{
    height: auto;
    flex-direction: column;
   }
   .home-content h3{
    font-size:2.6rem;
   }
   .home-content h1{
    font-size:5rem;
   }
  
   .about{
    height:auto;
    flex-direction:column-reverse;
   }
   .about_col1{
    width:55vw;
    margin-top:auto ;
    margin-bottom: 50px;
   }
   .services{
    height:auto;
   }
   .services h2{
    margin-top: auto;
    margin-bottom:2rem;

   }
   .portfolio{
    height: auto;
   }
   .portfolio h2{
    margin-bottom:3rem;
   }
   .portfolio-container{
    grid-template-columns:repeat(2,1fr);
   }
   .contact{
    height:auto;
    flex-direction:column;  
  }
  }
   @media(max-width:617px){
    .portfolio-container{
      grid-template-columns:repeat(1fr)
    }
   }
  
  @media(max-width:450px){
   html{
       font-size:50%;
   }
   .contact form .input-box input{
     width:100%; 
    }
   }

@media(max-width:365px){
  .home-img img{
    width:0vw;

  }
  .about-img img{
    width:70vw;
  }
  .footer{
    flex-direction:column-reverse;
  }
  .footer p{
    text-align:center;
    margin-top:2rem;
  }
}
